In [144]:
bd.to_excel('/Users/ssd/Downloads/BMM_2.xlsx')

In [1]:
import pandas as pd
import numpy as np

In [2]:
bd = pd.read_csv('Копия_base_test.xlsx - weather.csv')

In [3]:
bd['type_of_car'] = bd['type_of_car'].str.replace('ФУСО', 'Фусо')
bd['type_of_car'] = bd['type_of_car'].str.replace('боковая', 'Боковая')
bd['type_of_car'] = bd['type_of_car'].str.replace('бункеровоз', 'Бункеровоз')
bd['type_of_car'] = bd['type_of_car'].str.replace('задняя', 'Задняя')
bd['type_of_car'] = bd['type_of_car'].str.replace('кму', 'КМУ')
bd['type_of_car'] = bd['type_of_car'].str.replace('мультилифт', 'Мультилифт')
bd['type_of_car'] = bd['type_of_car'].str.replace('самосвал', 'Самосвал')
bd['type_of_car'] = bd['type_of_car'].str.replace('фусо', 'Фусо')
bd.head()

,day,mounth,day_of_week,type_of_car,number_of_car,mass_of_trash,size_of_trash,density,tmin,tmax
0,1,Январь,пятница,Бункеровоз,В297КЕ147,4300,48,"89,58333333",-28°,-32°
1,1,Январь,пятница,Бункеровоз,К721ВС154,5180,40,"129,5",-28°,-32°
2,1,Январь,пятница,Бункеровоз,Н726РУ154,5400,64,"84,375",-28°,-32°
3,1,Январь,пятница,Бункеровоз,Н991НУ154,4960,48,"103,3333333",-28°,-32°
4,1,Январь,пятница,Мультилифт,К801ВА154,3220,"36,66","87,83415166",-28°,-32°

In [4]:
bd = bd[bd['size_of_trash'] != '0']
bd = bd[bd['mass_of_trash'] != '0']
bd = bd[bd['mass_of_trash'] != '-']
bd['mass_of_trash'] = bd['mass_of_trash'].str.replace(' ', '').str.replace(',', '.').astype(float)
bd['size_of_trash'] = bd['size_of_trash'].str.replace(' ', '').str.replace(',', '.').astype(float)
bd['number_of_car'] = bd['number_of_car'].str.replace(' ', '')
bd['density'] = bd['density'].str.replace(' ', '').str.replace(',', '.').astype(float)
bd['tmin'] = bd['tmin'].str.replace('°', '').astype(float)
bd['tmax'] = bd['tmax'].str.replace('°', '').astype(float)
bd['taverage'] = (bd['tmax'] + bd['tmin']) / 2
bd.head()

,day,mounth,day_of_week,type_of_car,number_of_car,mass_of_trash,size_of_trash,density,tmin,tmax,taverage
0,1,Январь,пятница,Бункеровоз,В297КЕ147,4300.0,48.00,89.583333,-28.0,-32.0,-30.0
1,1,Январь,пятница,Бункеровоз,К721ВС154,5180.0,40.00,129.500000,-28.0,-32.0,-30.0
2,1,Январь,пятница,Бункеровоз,Н726РУ154,5400.0,64.00,84.375000,-28.0,-32.0,-30.0
3,1,Январь,пятница,Бункеровоз,Н991НУ154,4960.0,48.00,103.333333,-28.0,-32.0,-30.0
4,1,Январь,пятница,Мультилифт,К801ВА154,3220.0,36.66,87.834152,-28.0,-32.0,-30.0

In [5]:
densityMax = np.percentile(bd['density'].dropna(), 99.9)
densityMin = np.percentile(bd['density'].dropna(), 0.1)
bd = bd[bd['density'] > densityMin][bd['density'] < densityMax]

massMax = np.percentile(bd['mass_of_trash'].dropna(), 99.9)
massMin = np.percentile(bd['mass_of_trash'].dropna(), 0.1)
bd = bd[bd['mass_of_trash'] > massMin][bd['mass_of_trash'] < massMax]

sizeMax = np.percentile(bd['size_of_trash'].dropna(), 99.9)
sizeMin = np.percentile(bd['size_of_trash'].dropna(), 0.1)
bd = bd[bd['size_of_trash'] > sizeMin][bd['size_of_trash'] < sizeMax]

/var/folders/85/nvry22pd6nx6pfd1c1h6z_nr0000gp/T/ipykernel_26740/3123306523.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bd = bd[bd['density'] > densityMin][bd['density'] < densityMax]
/var/folders/85/nvry22pd6nx6pfd1c1h6z_nr0000gp/T/ipykernel_26740/3123306523.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bd = bd[bd['mass_of_trash'] > massMin][bd['mass_of_trash'] < massMax]
/var/folders/85/nvry22pd6nx6pfd1c1h6z_nr0000gp/T/ipykernel_26740/3123306523.py:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bd = bd[bd['size_of_trash'] > sizeMin][bd['size_of_trash'] < sizeMax]

In [23]:
bd[bd['mounth'] == 'Февраль']

,day,mounth,day_of_week,type_of_car,number_of_car,mass_of_trash,size_of_trash,density,tmax,tmin,taverage
index,,,,,,,,,,,
1798,1,Февраль,понедельник,Бункеровоз,В297КЕ147,3820.0,56.0,68.214286,-13.0,-23.0,-18.0
1799,1,Февраль,понедельник,Бункеровоз,К721ВС154,3740.0,48.0,77.916667,-13.0,-23.0,-18.0
1800,1,Февраль,понедельник,Бункеровоз,Н726РУ154,5180.0,56.0,92.500000,-13.0,-23.0,-18.0
1801,1,Февраль,понедельник,Бункеровоз,Н991НУ154,9700.0,80.0,121.250000,-13.0,-23.0,-18.0
1802,1,Февраль,понедельник,Мультилифт,Н416НС154,5620.0,24.0,234.166667,-13.0,-23.0,-18.0
...,...,...,...,...,...,...,...,...,...,...,...
3249,28,Февраль,воскресенье,Задняя,Н590ТТ154,20440.0,309.5,66.042003,-14.0,-31.0,-22.5
3250,28,Февраль,воскресенье,Задняя,Н864ТТ154,12360.0,244.3,50.593533,-14.0,-31.0,-22.5
3251,28,Февраль,воскресенье,Задняя,О369АР750,11420.0,199.1,57.358111,-14.0,-31.0,-22.5
3252,28,Февраль,воскресенье,Задняя,Т237ВВ750,9380.0,159.2,58.919598,-14.0,-31.0,-22.5
3253,28,Февраль,воскресенье,Задняя,Т551РС69,21960.0,317.9,69.078327,-14.0,-31.0,-22.5

In [25]:
bd[bd['mounth'] == 'Февраль'][bd['day'] == 12]

/var/folders/85/nvry22pd6nx6pfd1c1h6z_nr0000gp/T/ipykernel_80750/1762628267.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bd[bd['mounth'] == 'Февраль'][bd['day'] == 12]

,day,mounth,day_of_week,type_of_car,number_of_car,mass_of_trash,size_of_trash,density,tmax,tmin,taverage
index,,,,,,,,,,,
2302,12,Февраль,пятница,Бункеровоз,В297КЕ147,3780.0,37.00,102.162162,-25.0,-34.0,-29.5
2303,12,Февраль,пятница,Бункеровоз,К721ВС154,3720.0,40.00,93.000000,-25.0,-34.0,-29.5
2304,12,Февраль,пятница,Бункеровоз,Н726РУ154,2840.0,48.00,59.166667,-25.0,-34.0,-29.5
2305,12,Февраль,пятница,Бункеровоз,Н991НУ154,3160.0,47.00,67.234043,-25.0,-34.0,-29.5
2307,12,Февраль,пятница,Мультилифт,Н869МК154,3480.0,36.00,96.666667,-25.0,-34.0,-29.5
2308,12,Февраль,пятница,Самосвал,В149НА750,1900.0,24.00,79.166667,-25.0,-34.0,-29.5
2309,12,Февраль,пятница,Самосвал,К693СА154,1640.0,17.00,96.470588,-25.0,-34.0,-29.5
2310,12,Февраль,пятница,Самосвал,К722ВС154,3320.0,33.00,100.606061,-25.0,-34.0,-29.5
2311,12,Февраль,пятница,Самосвал,К836ВС154,1380.0,11.00,125.454545,-25.0,-34.0,-29.5
2312,12,Февраль,пятница,Самосвал,Н200НХ154,2680.0,16.00,167.500000,-25.0,-34.0,-29.5
2313,12,Февраль,пятница,Самосвал,Н283УУ154,2360.0,25.00,94.400000,-25.0,-34.0,-29.5
2314,12,Февраль,пятница,Самосвал,Н300УУ154,1980.0,22.00,90.000000,-25.0,-34.0,-29.5
2315,12,Февраль,пятница,Самосвал,Н344РТ154,2740.0,16.00,171.250000,-25.0,-34.0,-29.5
2316,12,Февраль,пятница,Самосвал,Н345РК154,1280.0,22.00,58.181818,-25.0,-34.0,-29.5
2317,12,Февраль,пятница,Самосвал,Н412РК154,3560.0,38.80,91.752577,-25.0,-34.0,-29.5
2318,12,Февраль,пятница,Самосвал,Н419РК154,1140.0,11.00,103.636364,-25.0,-34.0,-29.5
2319,12,Февраль,пятница,Самосвал,Н515РТ154,1960.0,16.00,122.500000,-25.0,-34.0,-29.5
2320,12,Февраль,пятница,Самосвал,Н534ТТ154,2460.0,22.00,111.818182,-25.0,-34.0,-29.5
2321,12,Февраль,пятница,Самосвал,Н576ТТ154,1740.0,22.00,79.090909,-25.0,-34.0,-29.5
2322,12,Февраль,пятница,Самосвал,Н583РТ154,1400.0,16.00,87.500000,-25.0,-34.0,-29.5
2323,12,Февраль,пятница,Самосвал,Н585ТТ154,1100.0,11.00,100.000000,-25.0,-34.0,-29.5
2324,12,Февраль,пятница,Самосвал,Н587ТТ154,2580.0,33.00,78.181818,-25.0,-34.0,-29.5
2325,12,Февраль,пятница,Самосвал,Н589ТТ154,1680.0,22.00,76.363636,-25.0,-34.0,-29.5
2326,12,Февраль,пятница,Самосвал,Н833ТТ154,1520.0,16.00,95.000000,-25.0,-34.0,-29.5
2327,12,Февраль,пятница,Самосвал,Н849ТТ154,2320.0,33.00,70.303030,-25.0,-34.0,-29.5
2328,12,Февраль,пятница,Самосвал,Н861ТТ154,2440.0,22.00,110.909091,-25.0,-34.0,-29.5
2329,12,Февраль,пятница,Самосвал,Н915РУ154,1380.0,16.00,86.250000,-25.0,-34.0,-29.5
2330,12,Февраль,пятница,КМУ,Н275ОС154,9820.0,268.82,36.530020,-25.0,-34.0,-29.5
2331,12,Февраль,пятница,фусо,Н547ТТ154,3960.0,109.26,36.243822,-25.0,-34.0,-29.5
2332,12,Февраль,пятница,фусо,Н586ТТ154,6540.0,189.12,34.581218,-25.0,-34.0,-29.5
2333,12,Февраль,пятница,боковая,В036АС147,4220.0,85.37,49.431885,-25.0,-34.0,-29.5
2334,12,Февраль,пятница,боковая,Н403МВ154,3380.0,87.03,38.837183,-25.0,-34.0,-29.5
2335,12,Февраль,пятница,боковая,Н405МВ154,4360.0,62.80,69.426752,-25.0,-34.0,-29.5
2336,12,Февраль,пятница,Задняя,К281ВС154,16740.0,323.62,51.727335,-25.0,-34.0,-29.5
2337,12,Февраль,пятница,Задняя,К404СВ154,11760.0,210.34,55.909480,-25.0,-34.0,-29.5
2338,12,Февраль,пятница,Задняя,К910ЕА154,11560.0,217.77,53.083528,-25.0,-34.0,-29.5
2340,12,Февраль,пятница,Задняя,Н561УУ154,26640.0,461.90,57.674821,-25.0,-34.0,-29.5
2341,12,Февраль,пятница,Задняя,Н590УУ154,21020.0,348.01,60.400563,-25.0,-34.0,-29.5
2342,12,Февраль,пятница,Задняя,Н853НР123,3720.0,126.94,29.305184,-25.0,-34.0,-29.5
2345,12,Февраль,пятница,Задняя,К170ВС154,13500.0,260.81,51.761819,-25.0,-34.0,-29.5
2347,12,Февраль,пятница,Задняя,Н208УУ154,12640.0,164.45,76.862268,-25.0,-34.0,-29.5
2348,12,Февраль,пятница,Задняя,Н252УУ154,11940.0,226.02,52.827183,-25.0,-34.0,-29.5
2349,12,Февраль,пятница,Задняя,Н263УУ154,14480.0,241.83,59.876773,-25.0,-34.0,-29.5
2350,12,Февраль,пятница,Задняя,Н509ТТ154,16460.0,329.75,49.916603,-25.0,-34.0,-29.5
2351,12,Февраль,пятница,Задняя,Н513ТТ154,14960.0,266.67,56.099299,-25.0,-34.0,-29.5
2352,12,Февраль,пятница,Задняя,Н548ТТ154,15420.0,237.88,64.822600,-25.0,-34.0,-29.5
2353,12,Февраль,пятница,Задняя,Н590ТТ154,15920.0,298.28,53.372670,-25.0,-34.0,-29.5
2354,12,Февраль,пятница,Задняя,Н864ТТ154,11380.0,272.76,41.721660,-25.0,-34.0,-29.5
2355,12,Февраль,пятница,Задняя,О369АР750,11760.0,241.16,48.764306,-25.0,-34.0,-29.5
2356,12,Февраль,пятница,Задняя,Т237ВВ750,16200.0,251.90,64.311235,-25.0,-34.0,-29.5
2357,12,Февраль,пятница,Задняя,Т551РС69,19700.0,323.40,60.915275,-25.0,-34.0,-29.5

In [33]:
bd[bd['type_of_car'] == 'Бункеровоз'][bd['mounth'] == 'Май']

/var/folders/85/nvry22pd6nx6pfd1c1h6z_nr0000gp/T/ipykernel_80750/3375056235.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bd[bd['type_of_car'] == 'Бункеровоз'][bd['mounth'] == 'Май']

,day,mounth,day_of_week,type_of_car,number_of_car,mass_of_trash,size_of_trash,density,tmax,tmin,taverage
index,,,,,,,,,,,
6392,1,Май,суббота,Бункеровоз,В297КЕ147,6160.0,40.0,154.000000,13.0,4.0,8.5
6393,1,Май,суббота,Бункеровоз,К721ВС154,5780.0,48.0,120.416667,13.0,4.0,8.5
6394,1,Май,суббота,Бункеровоз,Н726РУ154,8900.0,56.0,158.928571,13.0,4.0,8.5
6395,1,Май,суббота,Бункеровоз,Н991НУ154,4100.0,48.0,85.416667,13.0,4.0,8.5
6455,2,Май,воскресенье,Бункеровоз,В297КЕ147,8040.0,48.0,167.500000,15.0,1.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...
8222,30,Май,воскресенье,Бункеровоз,Н991НУ154,4640.0,39.0,118.974359,20.0,7.0,13.5
8282,31,Май,понедельник,Бункеровоз,В297КЕ147,5200.0,40.0,130.000000,25.0,11.0,18.0
8283,31,Май,понедельник,Бункеровоз,К721ВС154,5560.0,56.0,99.285714,25.0,11.0,18.0
8284,31,Май,понедельник,Бункеровоз,Н726РУ154,15320.0,112.0,136.785714,25.0,11.0,18.0
8285,31,Май,понедельник,Бункеровоз,Н991НУ154,5380.0,48.0,112.083333,25.0,11.0,18.0

In [36]:
bd[bd['type_of_car'] == 'Бункеровоз'][bd['number_of_car'].isin(["Н726РУ154", "Н991НУ154"])]

/var/folders/85/nvry22pd6nx6pfd1c1h6z_nr0000gp/T/ipykernel_80750/2677617504.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bd[bd['type_of_car'] == 'Бункеровоз'][bd['number_of_car'].isin(["Н726РУ154", "Н991НУ154"])]

,day,mounth,day_of_week,type_of_car,number_of_car,mass_of_trash,size_of_trash,density,tmax,tmin,taverage
index,,,,,,,,,,,
2,1,Январь,пятница,Бункеровоз,Н726РУ154,5400.0,64.0,84.375000,-28.0,-32.0,-30.0
3,1,Январь,пятница,Бункеровоз,Н991НУ154,4960.0,48.0,103.333333,-28.0,-32.0,-30.0
60,2,Январь,суббота,Бункеровоз,Н726РУ154,3880.0,48.0,80.833333,-27.0,-33.0,-30.0
61,2,Январь,суббота,Бункеровоз,Н991НУ154,3040.0,32.0,95.000000,-27.0,-33.0,-30.0
118,3,Январь,воскресенье,Бункеровоз,Н726РУ154,1540.0,16.0,96.250000,-26.0,-31.0,-28.5
...,...,...,...,...,...,...,...,...,...,...,...
20879,29,Декабрь,среда,Бункеровоз,Н991НУ154,2720.0,32.0,85.000000,-7.0,-8.0,-7.5
20940,30,Декабрь,четверг,Бункеровоз,Н726РУ154,3740.0,32.0,116.875000,-21.0,-23.0,-22.0
20941,30,Декабрь,четверг,Бункеровоз,Н991НУ154,4920.0,32.0,153.750000,-21.0,-23.0,-22.0
21002,31,Декабрь,пятница,Бункеровоз,Н726РУ154,5920.0,48.0,123.333333,-16.0,-26.0,-21.0
21003,31,Декабрь,пятница,Бункеровоз,Н991НУ154,3940.0,40.0,98.500000,-16.0,-26.0,-21.0

In [ ]:
#TODO посмотреть то же для других машин

In [97]:
bd['type_of_car'].unique()

array(['Бункеровоз', 'Мультилифт', 'Самосвал', 'Грузовая', 'Фусо',
       'Боковая', 'Задняя', 'КМУ'], dtype=object)

In [116]:
bd[bd['mounth'] == 'Январь']

,day,mounth,day_of_week,type_of_car,number_of_car,mass_of_trash,size_of_trash,density,tmin,tmax,taverage
0,1,Январь,пятница,Бункеровоз,В297КЕ147,4300.0,48.00,89.583333,-28.0,-32.0,-30.0
1,1,Январь,пятница,Бункеровоз,К721ВС154,5180.0,40.00,129.500000,-28.0,-32.0,-30.0
2,1,Январь,пятница,Бункеровоз,Н726РУ154,5400.0,64.00,84.375000,-28.0,-32.0,-30.0
3,1,Январь,пятница,Бункеровоз,Н991НУ154,4960.0,48.00,103.333333,-28.0,-32.0,-30.0
4,1,Январь,пятница,Мультилифт,К801ВА154,3220.0,36.66,87.834152,-28.0,-32.0,-30.0
...,...,...,...,...,...,...,...,...,...,...,...
1791,31,Январь,воскресенье,Задняя,Н513ТТ154,15400.0,289.76,53.147432,-17.0,-28.0,-22.5
1792,31,Январь,воскресенье,Задняя,Н548ТТ154,8980.0,144.14,62.300541,-17.0,-28.0,-22.5
1794,31,Январь,воскресенье,Задняя,Н864ТТ154,19480.0,251.20,77.547771,-17.0,-28.0,-22.5
1795,31,Январь,воскресенье,Задняя,О369АР750,24360.0,302.28,80.587535,-17.0,-28.0,-22.5
1797,31,Январь,воскресенье,Задняя,Т551РС69,23160.0,327.80,70.652837,-17.0,-28.0,-22.5

In [117]:
bd[bd['mounth'] == 'Январь']

,day,mounth,day_of_week,type_of_car,number_of_car,mass_of_trash,size_of_trash,density,tmin,tmax,taverage
0,1,Январь,пятница,Бункеровоз,В297КЕ147,4300.0,48.00,89.583333,-28.0,-32.0,-30.0
1,1,Январь,пятница,Бункеровоз,К721ВС154,5180.0,40.00,129.500000,-28.0,-32.0,-30.0
2,1,Январь,пятница,Бункеровоз,Н726РУ154,5400.0,64.00,84.375000,-28.0,-32.0,-30.0
3,1,Январь,пятница,Бункеровоз,Н991НУ154,4960.0,48.00,103.333333,-28.0,-32.0,-30.0
4,1,Январь,пятница,Мультилифт,К801ВА154,3220.0,36.66,87.834152,-28.0,-32.0,-30.0
...,...,...,...,...,...,...,...,...,...,...,...
1791,31,Январь,воскресенье,Задняя,Н513ТТ154,15400.0,289.76,53.147432,-17.0,-28.0,-22.5
1792,31,Январь,воскресенье,Задняя,Н548ТТ154,8980.0,144.14,62.300541,-17.0,-28.0,-22.5
1794,31,Январь,воскресенье,Задняя,Н864ТТ154,19480.0,251.20,77.547771,-17.0,-28.0,-22.5
1795,31,Январь,воскресенье,Задняя,О369АР750,24360.0,302.28,80.587535,-17.0,-28.0,-22.5
1797,31,Январь,воскресенье,Задняя,Т551РС69,23160.0,327.80,70.652837,-17.0,-28.0,-22.5

In [6]:
bd['number_of_car'] = bd['number_of_car'].str.replace(' ', '')

In [7]:
bd = bd[bd['mass_of_trash'] < 32480][bd['density'] < 294]

/var/folders/85/nvry22pd6nx6pfd1c1h6z_nr0000gp/T/ipykernel_9158/1967182555.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bd = bd[bd['mass_of_trash'] < 32480][bd['density'] < 294]

In [113]:
bd[bd['type_of_car'] == 'Мультилифт']['number_of_car'].unique()

array(['К801ВА154', 'Н869МК154', 'Н416НС154'], dtype=object)

In [118]:
bd[bd['number_of_car'].isin(['К801ВА154', 'Н869МК154', 'Н416НС154'])][bd['mounth'] == 'Январь']

/var/folders/85/nvry22pd6nx6pfd1c1h6z_nr0000gp/T/ipykernel_80750/2591896185.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bd[bd['number_of_car'].isin(['К801ВА154', 'Н869МК154', 'Н416НС154'])][bd['mounth'] == 'Январь']

,day,mounth,day_of_week,type_of_car,number_of_car,mass_of_trash,size_of_trash,density,tmin,tmax,taverage
4,1,Январь,пятница,Мультилифт,К801ВА154,3220.0,36.66,87.834152,-28.0,-32.0,-30.0
6,1,Январь,пятница,Мультилифт,Н869МК154,3140.0,36.00,87.222222,-28.0,-32.0,-30.0
62,2,Январь,суббота,Мультилифт,К801ВА154,2760.0,35.16,78.498294,-27.0,-33.0,-30.0
64,2,Январь,суббота,Мультилифт,Н869МК154,2700.0,24.00,112.500000,-27.0,-33.0,-30.0
120,3,Январь,воскресенье,Мультилифт,К801ВА154,3040.0,32.02,94.940662,-26.0,-31.0,-28.5
...,...,...,...,...,...,...,...,...,...,...,...
1686,30,Январь,суббота,Мультилифт,К801ВА154,740.0,24.00,30.833333,-10.0,-20.0,-15.0
1687,30,Январь,суббота,Мультилифт,Н416НС154,5740.0,27.00,212.592593,-10.0,-20.0,-15.0
1688,30,Январь,суббота,Мультилифт,Н869МК154,2660.0,36.00,73.888889,-10.0,-20.0,-15.0
1745,31,Январь,воскресенье,Мультилифт,Н416НС154,5220.0,27.00,193.333333,-17.0,-28.0,-22.5
1746,31,Январь,воскресенье,Мультилифт,Н869МК154,6040.0,60.00,100.666667,-17.0,-28.0,-22.5

In [119]:
bd[bd['mounth'] == 'Август']

,day,mounth,day_of_week,type_of_car,number_of_car,mass_of_trash,size_of_trash,density,tmin,tmax,taverage
12363,1,Август,воскресенье,Бункеровоз,В297КЕ147,3460.0,32.00,108.125000,28.0,14.0,21.0
12364,1,Август,воскресенье,Бункеровоз,К721ВС154,9660.0,96.00,100.625000,28.0,14.0,21.0
12365,1,Август,воскресенье,Бункеровоз,Н726РУ154,5820.0,48.00,121.250000,28.0,14.0,21.0
12366,1,Август,воскресенье,Бункеровоз,Н991НУ154,3860.0,40.00,96.500000,28.0,14.0,21.0
12367,1,Август,воскресенье,Мультилифт,К801ВА154,2840.0,24.00,118.333333,28.0,14.0,21.0
...,...,...,...,...,...,...,...,...,...,...,...
14185,31,Август,вторник,Задняя,Н548ТТ154,16060.0,177.94,90.255142,17.0,6.0,11.5
14186,31,Август,вторник,Задняя,Н590ТТ154,13480.0,312.20,43.177450,17.0,6.0,11.5
14187,31,Август,вторник,Задняя,Н864ТТ154,17020.0,252.27,67.467396,17.0,6.0,11.5
14190,31,Август,вторник,Задняя,Т237ВВ750,13660.0,170.74,80.004685,17.0,6.0,11.5
14191,31,Август,вторник,Задняя,Т551РС69,30500.0,326.70,93.357821,17.0,6.0,11.5

In [43]:
first = bd[bd['mounth'] == 'Ноябрь'][bd['day'] >= 1][bd['day'] <= 7]
pivot = first.pivot_table(index='day', values=['mass_of_trash', 'size_of_trash'], aggfunc='sum', sort=False)
pivot['density'] = pivot['mass_of_trash'] / pivot['size_of_trash']
pivot

/var/folders/85/nvry22pd6nx6pfd1c1h6z_nr0000gp/T/ipykernel_22804/2819094964.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  first = bd[bd['mounth'] == 'Ноябрь'][bd['day'] >= 1][bd['day'] <= 7]
/var/folders/85/nvry22pd6nx6pfd1c1h6z_nr0000gp/T/ipykernel_22804/2819094964.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  first = bd[bd['mounth'] == 'Ноябрь'][bd['day'] >= 1][bd['day'] <= 7]

     mass_of_trash  size_of_trash    density
day
1         493200.0        5232.51  94.256867
2         466880.0        5764.02  80.999025
3         490040.0        6346.68  77.212023
4         417440.0        6080.15  68.656201
5         489140.0        6168.66  79.294369
6         487980.0        5678.53  85.934212
7         490560.0        5444.91  90.095153

In [146]:
bd[bd['mounth'] == 'Апрель'][bd['day'] == 1]

/var/folders/85/nvry22pd6nx6pfd1c1h6z_nr0000gp/T/ipykernel_80750/882384601.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bd[bd['mounth'] == 'Апрель'][bd['day'] == 1]

,day,mounth,day_of_week,type_of_car,number_of_car,mass_of_trash,size_of_trash,density,tmin,tmax,taverage
5040,1,Апрель,четверг,Бункеровоз,В297КЕ147,5220.0,40.00,130.500000,-2.0,-9.0,-5.5
5041,1,Апрель,четверг,Бункеровоз,К721ВС154,6380.0,48.00,132.916667,-2.0,-9.0,-5.5
5042,1,Апрель,четверг,Бункеровоз,Н726РУ154,5460.0,48.00,113.750000,-2.0,-9.0,-5.5
5043,1,Апрель,четверг,Бункеровоз,Н991НУ154,4500.0,40.00,112.500000,-2.0,-9.0,-5.5
5045,1,Апрель,четверг,Мультилифт,Н416НС154,12860.0,48.00,267.916667,-2.0,-9.0,-5.5
5046,1,Апрель,четверг,Мультилифт,Н869МК154,5200.0,36.00,144.444444,-2.0,-9.0,-5.5
5049,1,Апрель,четверг,Самосвал,К693СА154,980.0,17.00,57.647059,-2.0,-9.0,-5.5
5050,1,Апрель,четверг,Самосвал,К722ВС154,1500.0,11.00,136.363636,-2.0,-9.0,-5.5
5051,1,Апрель,четверг,Самосвал,К836ВС154,2220.0,11.00,201.818182,-2.0,-9.0,-5.5
5052,1,Апрель,четверг,Самосвал,Н200НХ154,3040.0,24.00,126.666667,-2.0,-9.0,-5.5
5053,1,Апрель,четверг,Самосвал,Н283УУ154,2920.0,33.00,88.484848,-2.0,-9.0,-5.5
5054,1,Апрель,четверг,Самосвал,Н300УУ154,2960.0,22.00,134.545455,-2.0,-9.0,-5.5
5055,1,Апрель,четверг,Самосвал,Н534ТТ154,2400.0,11.00,218.181818,-2.0,-9.0,-5.5
5056,1,Апрель,четверг,Самосвал,Н576ТТ154,2240.0,22.00,101.818182,-2.0,-9.0,-5.5
5057,1,Апрель,четверг,Самосвал,Н585ТТ154,2700.0,22.00,122.727273,-2.0,-9.0,-5.5
5058,1,Апрель,четверг,Самосвал,Н587ТТ154,5280.0,44.00,120.000000,-2.0,-9.0,-5.5
5059,1,Апрель,четверг,Самосвал,Н589ТТ154,4060.0,22.00,184.545455,-2.0,-9.0,-5.5
5060,1,Апрель,четверг,Самосвал,Н849ТТ154,4280.0,22.00,194.545455,-2.0,-9.0,-5.5
5061,1,Апрель,четверг,Самосвал,Н861ТТ154,5640.0,33.00,170.909091,-2.0,-9.0,-5.5
5062,1,Апрель,четверг,Грузовая,Н344РТ154,1480.0,8.00,185.000000,-2.0,-9.0,-5.5
5063,1,Апрель,четверг,Грузовая,Н345РК154,1960.0,22.00,89.090909,-2.0,-9.0,-5.5
5064,1,Апрель,четверг,Грузовая,Н412РК154,4180.0,39.10,106.905371,-2.0,-9.0,-5.5
5065,1,Апрель,четверг,Грузовая,Н419РК154,1760.0,11.00,160.000000,-2.0,-9.0,-5.5
5066,1,Апрель,четверг,Грузовая,Н515РТ154,4760.0,33.00,144.242424,-2.0,-9.0,-5.5
5067,1,Апрель,четверг,Грузовая,Н583РТ154,2460.0,16.00,153.750000,-2.0,-9.0,-5.5
5068,1,Апрель,четверг,Грузовая,Н833ТТ154,1880.0,16.00,117.500000,-2.0,-9.0,-5.5
5069,1,Апрель,четверг,Грузовая,Н915РУ154,3340.0,24.00,139.166667,-2.0,-9.0,-5.5
5070,1,Апрель,четверг,КМУ,Н275ОС154,9560.0,269.04,35.533750,-2.0,-9.0,-5.5
5072,1,Апрель,четверг,Фусо,Н586ТТ154,15220.0,173.97,87.486348,-2.0,-9.0,-5.5
5073,1,Апрель,четверг,Боковая,В036АС147,2960.0,52.09,56.824726,-2.0,-9.0,-5.5
5074,1,Апрель,четверг,Боковая,Н403МВ154,2320.0,61.67,37.619588,-2.0,-9.0,-5.5
5075,1,Апрель,четверг,Боковая,Н405МВ154,4900.0,83.10,58.965102,-2.0,-9.0,-5.5
5076,1,Апрель,четверг,Задняя,В222СО178,14400.0,215.83,66.719177,-2.0,-9.0,-5.5
5077,1,Апрель,четверг,Задняя,К281ВС154,17660.0,258.74,68.253846,-2.0,-9.0,-5.5
5078,1,Апрель,четверг,Задняя,К404СВ154,15000.0,225.36,66.560170,-2.0,-9.0,-5.5
5079,1,Апрель,четверг,Задняя,К910ЕА154,20320.0,366.35,55.466084,-2.0,-9.0,-5.5
5081,1,Апрель,четверг,Задняя,Н561УУ154,16520.0,233.44,70.767649,-2.0,-9.0,-5.5
5082,1,Апрель,четверг,Задняя,Н590УУ154,12080.0,224.86,53.722316,-2.0,-9.0,-5.5
5083,1,Апрель,четверг,Задняя,В120ЕН750,7540.0,130.00,58.000000,-2.0,-9.0,-5.5
5085,1,Апрель,четверг,Задняя,К170ВС154,15840.0,265.15,59.739770,-2.0,-9.0,-5.5
5086,1,Апрель,четверг,Задняя,Н208УУ154,12660.0,223.31,56.692490,-2.0,-9.0,-5.5
5087,1,Апрель,четверг,Задняя,Н252УУ154,14600.0,211.22,69.122242,-2.0,-9.0,-5.5
5088,1,Апрель,четверг,Задняя,Н263УУ154,13320.0,224.12,59.432447,-2.0,-9.0,-5.5
5089,1,Апрель,четверг,Задняя,Н509ТТ154,18660.0,380.32,49.063946,-2.0,-9.0,-5.5
5090,1,Апрель,четверг,Задняя,Н513ТТ154,16360.0,267.01,61.271113,-2.0,-9.0,-5.5
5091,1,Апрель,четверг,Задняя,Н548ТТ154,21720.0,338.97,64.076467,-2.0,-9.0,-5.5
5092,1,Апрель,четверг,Задняя,Н590ТТ154,19180.0,317.12,60.481837,-2.0,-9.0,-5.5
5093,1,Апрель,четверг,Задняя,Н864ТТ154,12320.0,231.10,53.310255,-2.0,-9.0,-5.5
5094,1,Апрель,четверг,Задняя,О369АР750,16660.0,253.64,65.683646,-2.0,-9.0,-5.5
5095,1,Апрель,четверг,Задняя,Т551РС69,21120.0,317.90,66.435986,-2.0,-9.0,-5.5

In [171]:
bd = bd.drop('perehod_cherez_null', axis=1)

In [169]:
bd[bd['density'] > 140.625]

,day,mounth,day_of_week,type_of_car,number_of_car,mass_of_trash,size_of_trash,density,tmin,tmax,taverage,perehod_cherez_null
69,2,Январь,суббота,Самосвал,Н200НХ154,2520.0,16.0,157.500000,-27.0,-33.0,-30.0,0
81,2,Январь,суббота,Самосвал,Н587ТТ154,1580.0,11.0,143.636364,-27.0,-33.0,-30.0,0
133,3,Январь,воскресенье,Грузовая,Н419РК154,3300.0,19.4,170.103093,-26.0,-31.0,-28.5,0
185,4,Январь,понедельник,Самосвал,Н200НХ154,4440.0,24.0,185.000000,-26.0,-31.0,-28.5,0
188,4,Январь,понедельник,Грузовая,Н344РТ154,4600.0,24.0,191.666667,-26.0,-31.0,-28.5,0
...,...,...,...,...,...,...,...,...,...,...,...,...
21333,31,Декабрь,пятница,Мультилифт,Н416НС154,6800.0,24.0,283.333333,-16.0,-26.0,-21.0,0
21340,31,Декабрь,пятница,Самосвал,Н283УУ154,1860.0,11.0,169.090909,-16.0,-26.0,-21.0,0
21341,31,Декабрь,пятница,Самосвал,Н300УУ154,4960.0,22.0,225.454545,-16.0,-26.0,-21.0,0
21343,31,Декабрь,пятница,Самосвал,Н576ТТ154,1620.0,11.0,147.272727,-16.0,-26.0,-21.0,0
21353,31,Декабрь,пятница,Грузовая,Н515РТ154,2540.0,16.0,158.750000,-16.0,-26.0,-21.0,0

In [165]:
bd[bd['mass_of_trash'] > 14420]['type_of_car'].unique()

array(['Задняя', 'Фусо', 'КМУ', 'Самосвал', 'Бункеровоз', 'Мультилифт',
       'Грузовая'], dtype=object)

In [189]:
def null_or_one(x):
    if x['density'] > np.percentile(bd['density'].dropna(), 75):
        return 1
    else:
        return 0
bd['75percentile'] = 0
bd['75percentile'] = bd.apply(lambda x: null_or_one(x), axis=1)
bd

,day,mounth,day_of_week,type_of_car,number_of_car,mass_of_trash,size_of_trash,density,tmin,tmax,taverage,75percentile
0,1,Январь,пятница,Бункеровоз,В297КЕ147,4300.0,48.00,89.583333,-28.0,-32.0,-30.0,0
1,1,Январь,пятница,Бункеровоз,К721ВС154,5180.0,40.00,129.500000,-28.0,-32.0,-30.0,0
2,1,Январь,пятница,Бункеровоз,Н726РУ154,5400.0,64.00,84.375000,-28.0,-32.0,-30.0,0
3,1,Январь,пятница,Бункеровоз,Н991НУ154,4960.0,48.00,103.333333,-28.0,-32.0,-30.0,0
4,1,Январь,пятница,Мультилифт,К801ВА154,3220.0,36.66,87.834152,-28.0,-32.0,-30.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
21384,31,Декабрь,пятница,Задняя,Н590ТТ154,23140.0,286.27,80.832780,-16.0,-26.0,-21.0,0
21385,31,Декабрь,пятница,Задняя,Н864ТТ154,10660.0,152.41,69.942917,-16.0,-26.0,-21.0,0
21387,31,Декабрь,пятница,Задняя,Т237ВВ750,15940.0,228.20,69.851008,-16.0,-26.0,-21.0,0
21388,31,Декабрь,пятница,Задняя,Т551РС69,26920.0,332.20,81.035521,-16.0,-26.0,-21.0,0
21389,31,Декабрь,пятница,Задняя,Т799РС69,7300.0,158.78,45.975564,-16.0,-26.0,-21.0,0

In [33]:
onlyfloat = bd.drop(['mounth', 'day_of_week', 'type_of_car', 'number_of_car'], axis=1)
onlyfloat

,day,mass_of_trash,size_of_trash,density,tmin,tmax,taverage,perehod_cherez_null,temp
0,1,4300.0,48.00,89.583333,-28.0,-32.0,-30.0,0,0
1,1,5180.0,40.00,129.500000,-28.0,-32.0,-30.0,0,0
2,1,5400.0,64.00,84.375000,-28.0,-32.0,-30.0,0,0
3,1,4960.0,48.00,103.333333,-28.0,-32.0,-30.0,0,0
4,1,3220.0,36.66,87.834152,-28.0,-32.0,-30.0,0,0
...,...,...,...,...,...,...,...,...,...
21384,31,23140.0,286.27,80.832780,-16.0,-26.0,-21.0,0,0
21385,31,10660.0,152.41,69.942917,-16.0,-26.0,-21.0,0,0
21387,31,15940.0,228.20,69.851008,-16.0,-26.0,-21.0,0,0
21388,31,26920.0,332.20,81.035521,-16.0,-26.0,-21.0,0,0
21389,31,7300.0,158.78,45.975564,-16.0,-26.0,-21.0,0,0

In [34]:
onlyfloat.corr()

,day,mass_of_trash,size_of_trash,density,tmin,tmax,taverage,perehod_cherez_null,temp
day,1.000000,-0.006453,-0.004545,-0.004657,0.008920,0.015222,0.012027,-0.015563,0.033432
mass_of_trash,-0.006453,1.000000,0.911992,-0.400688,0.116513,0.120797,0.119477,0.009781,0.123433
size_of_trash,-0.004545,0.911992,1.000000,-0.626733,0.028302,0.027415,0.028092,-0.002712,0.032224
density,-0.004657,-0.400688,-0.626733,1.000000,0.154364,0.162128,0.159297,0.012120,0.148497
tmin,0.008920,0.116513,0.028302,0.154364,1.000000,0.969463,0.992984,-0.035758,0.847957
tmax,0.015222,0.120797,0.027415,0.162128,0.969463,1.000000,0.991660,-0.015963,0.843557
taverage,0.012027,0.119477,0.028092,0.159297,0.992984,0.991660,1.000000,-0.026489,0.852372
perehod_cherez_null,-0.015563,0.009781,-0.002712,0.012120,-0.035758,-0.015963,-0.026489,1.000000,-0.020782
temp,0.033432,0.123433,0.032224,0.148497,0.847957,0.843557,0.852372,-0.020782,1.000000

In [192]:
bd[bd['density'] > 200]

,day,mounth,day_of_week,type_of_car,number_of_car,mass_of_trash,size_of_trash,density,tmin,tmax,taverage,75percentile
243,5,Январь,вторник,Самосвал,Н200НХ154,3760.0,16.0,235.000000,-26.0,-32.0,-29.0,1
295,6,Январь,среда,Мультилифт,Н416НС154,6740.0,24.0,280.833333,-23.0,-30.0,-26.5,1
314,6,Январь,среда,Самосвал,Н589ТТ154,7080.0,33.0,214.545455,-23.0,-30.0,-26.5,1
353,7,Январь,четверг,Мультилифт,Н416НС154,7100.0,27.0,262.962963,-21.0,-27.0,-24.0,1
431,8,Январь,пятница,Грузовая,Н833ТТ154,1720.0,8.0,215.000000,-21.0,-23.0,-22.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
21217,29,Декабрь,среда,Самосвал,Н300УУ154,7440.0,33.0,225.454545,-7.0,-8.0,-7.5,1
21229,29,Декабрь,среда,Грузовая,Н515РТ154,2260.0,8.0,282.500000,-7.0,-8.0,-7.5,1
21279,30,Декабрь,четверг,Самосвал,Н300УУ154,7420.0,33.0,224.848485,-21.0,-23.0,-22.0,1
21333,31,Декабрь,пятница,Мультилифт,Н416НС154,6800.0,24.0,283.333333,-16.0,-26.0,-21.0,1
21341,31,Декабрь,пятница,Самосвал,Н300УУ154,4960.0,22.0,225.454545,-16.0,-26.0,-21.0,1

In [193]:
bd[bd['mounth'].isin(['Январь', 'Февраль'])]

,day,mounth,day_of_week,type_of_car,number_of_car,mass_of_trash,size_of_trash,density,tmin,tmax,taverage,75percentile
0,1,Январь,пятница,Бункеровоз,В297КЕ147,4300.0,48.00,89.583333,-28.0,-32.0,-30.0,0
1,1,Январь,пятница,Бункеровоз,К721ВС154,5180.0,40.00,129.500000,-28.0,-32.0,-30.0,0
2,1,Январь,пятница,Бункеровоз,Н726РУ154,5400.0,64.00,84.375000,-28.0,-32.0,-30.0,0
3,1,Январь,пятница,Бункеровоз,Н991НУ154,4960.0,48.00,103.333333,-28.0,-32.0,-30.0,0
4,1,Январь,пятница,Мультилифт,К801ВА154,3220.0,36.66,87.834152,-28.0,-32.0,-30.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
3361,28,Февраль,воскресенье,Задняя,Н590ТТ154,20440.0,309.50,66.042003,-14.0,-31.0,-22.5,0
3362,28,Февраль,воскресенье,Задняя,Н864ТТ154,12360.0,244.30,50.593533,-14.0,-31.0,-22.5,0
3363,28,Февраль,воскресенье,Задняя,О369АР750,11420.0,199.10,57.358111,-14.0,-31.0,-22.5,0
3364,28,Февраль,воскресенье,Задняя,Т237ВВ750,9380.0,159.20,58.919598,-14.0,-31.0,-22.5,0
3365,28,Февраль,воскресенье,Задняя,Т551РС69,21960.0,317.90,69.078327,-14.0,-31.0,-22.5,0

In [195]:
bd['mass_of_trash'].sum()

166000802.0

In [11]:
bd.pivot_table(index='mounth', values='mass_of_trash', aggfunc='sum', sort=False)

          mass_of_trash
mounth
Январь       12194712.0
Февраль      10606932.0
Март         12158740.0
Апрель       13724800.0
Май          15878320.0
Июнь         14871071.0
Июль         14262308.0
Август       15544520.0
Сентябрь     15316239.0
Октябрь      15029407.0
Ноябрь       13470460.0
Декабрь      12943293.0

In [24]:
bd = bd.drop('baki', axis=1)

In [16]:
bd.pivot_table(index='mounth', values='size_of_trash', aggfunc='sum', sort=False)

          size_of_trash
mounth
Январь        178745.86
Февраль       162563.33
Март          172055.51
Апрель        172174.06
Май           191898.40
Июнь          203197.81
Июль          188280.39
Август        180541.58
Сентябрь      177157.01
Октябрь       181272.84
Ноябрь        173375.52
Декабрь       184963.88

In [201]:
def null_or_one(x):
    if x['tmax'] < 0 and x['tmin'] > 0:
        return 1
    else:
        return 0
    
    
bd['perehod_cherez_null'] = 0
bd['perehod_cherez_null'] = bd.apply(lambda x: null_or_one(x), axis=1)
bd[bd['type_of_car'].isin(["Боковая", 'Задняя'])]

,day,mounth,day_of_week,type_of_car,number_of_car,mass_of_trash,size_of_trash,density,tmin,tmax,taverage,perehod_cherez_null,temp
32,1,Январь,пятница,Боковая,В036АС147,1540.0,17.64,87.301587,-28.0,-32.0,-30.0,0,0
33,1,Январь,пятница,Боковая,Н403МВ154,3600.0,47.12,76.400679,-28.0,-32.0,-30.0,0,0
34,1,Январь,пятница,Боковая,Н405МВ154,3980.0,36.93,107.771460,-28.0,-32.0,-30.0,0,0
35,1,Январь,пятница,Задняя,К281ВС154,25020.0,250.63,99.828432,-28.0,-32.0,-30.0,0,0
37,1,Январь,пятница,Задняя,К910ЕА154,17840.0,265.80,67.118134,-28.0,-32.0,-30.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21384,31,Декабрь,пятница,Задняя,Н590ТТ154,23140.0,286.27,80.832780,-16.0,-26.0,-21.0,0,0
21385,31,Декабрь,пятница,Задняя,Н864ТТ154,10660.0,152.41,69.942917,-16.0,-26.0,-21.0,0,0
21387,31,Декабрь,пятница,Задняя,Т237ВВ750,15940.0,228.20,69.851008,-16.0,-26.0,-21.0,0,0
21388,31,Декабрь,пятница,Задняя,Т551РС69,26920.0,332.20,81.035521,-16.0,-26.0,-21.0,0,0
21389,31,Декабрь,пятница,Задняя,Т799РС69,7300.0,158.78,45.975564,-16.0,-26.0,-21.0,0,0

In [200]:
bd[bd['mass_of_trash'] > 3000][bd['mass_of_trash'] < 12000]

/var/folders/85/nvry22pd6nx6pfd1c1h6z_nr0000gp/T/ipykernel_9158/3337149926.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bd[bd['mass_of_trash'] > 3000][bd['mass_of_trash'] < 12000]

,day,mounth,day_of_week,type_of_car,number_of_car,mass_of_trash,size_of_trash,density,tmin,tmax,taverage,perehod_cherez_null,temp
0,1,Январь,пятница,Бункеровоз,В297КЕ147,4300.0,48.00,89.583333,-28.0,-32.0,-30.0,0,0
1,1,Январь,пятница,Бункеровоз,К721ВС154,5180.0,40.00,129.500000,-28.0,-32.0,-30.0,0,0
2,1,Январь,пятница,Бункеровоз,Н726РУ154,5400.0,64.00,84.375000,-28.0,-32.0,-30.0,0,0
3,1,Январь,пятница,Бункеровоз,Н991НУ154,4960.0,48.00,103.333333,-28.0,-32.0,-30.0,0,0
4,1,Январь,пятница,Мультилифт,К801ВА154,3220.0,36.66,87.834152,-28.0,-32.0,-30.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21364,31,Декабрь,пятница,Боковая,Н405МВ154,5700.0,70.70,80.622348,-16.0,-26.0,-21.0,0,0
21365,31,Декабрь,пятница,Задняя,В222СО178,6540.0,91.00,71.868132,-16.0,-26.0,-21.0,0,0
21372,31,Декабрь,пятница,Задняя,Н853НР123,10960.0,180.00,60.888889,-16.0,-26.0,-21.0,0,0
21385,31,Декабрь,пятница,Задняя,Н864ТТ154,10660.0,152.41,69.942917,-16.0,-26.0,-21.0,0,0
21389,31,Декабрь,пятница,Задняя,Т799РС69,7300.0,158.78,45.975564,-16.0,-26.0,-21.0,0,0

In [194]:
def temperatura(x):
    if x['taverage'] < 0:
        return 0
    else:
        return 1
bd['temp'] = 0
bd['temp'] = bd.apply(lambda x: temperatura(x), axis=1)
FataMorgana = bd[bd['perehod_cherez_null'] == 0].pivot_table(index='temp', values=['mass_of_trash', 'size_of_trash'], aggfunc='sum', sort=False)
FataMorgana['density'] = FataMorgana['mass_of_trash']/FataMorgana['size_of_trash']
FataMorgana

      mass_of_trash  size_of_trash    density
temp
0        60282057.0      853958.72  70.591301
1        96987055.0     1179588.92  82.221063

In [154]:
TKO = np.percentile(bd[bd['type_of_car'].isin(["Фусо", "Задняя", "Боковая"])]["density"], 75)
STPONKA = np.percentile(bd[bd['type_of_car'].isin(["Бункеровоз", "Самосвал", "Грузовая", "Мультилифт"])]["density"], 25)
granitsa = (TKO + STPONKA) / 2
granitsa

93.6699084725

In [51]:
bd.pivot_table(index='type_of_car', columns='mounth',  values='density', aggfunc='mean', sort=False)

mounth,Январь,Февраль,Март,Апрель,Май,Июнь,Июль,Август,Сентябрь,Октябрь,Ноябрь,Декабрь
type_of_car,,,,,,,,,,,,
Бункеровоз,86.541000,95.531714,113.896641,122.150426,139.295581,121.712277,121.804827,126.067146,134.969335,131.515730,146.331893,130.995102
Мультилифт,122.005023,139.011408,142.668123,134.338378,152.662836,146.463886,146.402614,155.257335,153.313708,136.896026,132.435088,153.088557
Самосвал,110.177665,115.552544,131.328760,143.159339,158.316332,144.439668,150.678936,156.744593,157.386435,150.225358,140.701186,130.966243
Грузовая,128.356976,NaN,NaN,155.762333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,145.552621
Фусо,65.597718,61.252766,61.495734,71.432491,65.002086,64.635274,64.636041,65.759091,NaN,NaN,76.247141,NaN
Боковая,68.290226,62.403538,67.015876,81.142718,92.689298,83.556098,85.778424,94.692842,98.141326,92.791088,87.123622,83.013247
Задняя,64.707214,61.384592,64.808059,72.740402,71.531066,67.584315,69.829415,79.934036,81.170745,73.258323,71.452486,64.788728
КМУ,38.165941,36.969852,41.738486,41.787895,38.803469,38.700414,40.145547,49.123199,57.556371,48.731010,45.913276,40.687354

In [59]:
bd = bd.drop('perehod_cherez_null', axis=1)

In [76]:
bd = bd[bd['number_of_car'] != 'Н416НС154']

In [145]:
bd

,day,mounth,day_of_week,type_of_car,number_of_car,mass_of_trash,size_of_trash,density,tmin,tmax,taverage
0,1,Январь,пятница,Бункеровоз,В297КЕ147,4300.0,48.00,89.583333,-28.0,-32.0,-30.0
1,1,Январь,пятница,Бункеровоз,К721ВС154,5180.0,40.00,129.500000,-28.0,-32.0,-30.0
2,1,Январь,пятница,Бункеровоз,Н726РУ154,5400.0,64.00,84.375000,-28.0,-32.0,-30.0
3,1,Январь,пятница,Бункеровоз,Н991НУ154,4960.0,48.00,103.333333,-28.0,-32.0,-30.0
4,1,Январь,пятница,Мультилифт,К801ВА154,3220.0,36.66,87.834152,-28.0,-32.0,-30.0
...,...,...,...,...,...,...,...,...,...,...,...
21384,31,Декабрь,пятница,Задняя,Н590ТТ154,23140.0,286.27,80.832780,-16.0,-26.0,-21.0
21385,31,Декабрь,пятница,Задняя,Н864ТТ154,10660.0,152.41,69.942917,-16.0,-26.0,-21.0
21387,31,Декабрь,пятница,Задняя,Т237ВВ750,15940.0,228.20,69.851008,-16.0,-26.0,-21.0
21388,31,Декабрь,пятница,Задняя,Т551РС69,26920.0,332.20,81.035521,-16.0,-26.0,-21.0
21389,31,Декабрь,пятница,Задняя,Т799РС69,7300.0,158.78,45.975564,-16.0,-26.0,-21.0

In [58]:
bd['size'] = bd['size_of_trash']*77.42
bd

,day,mounth,day_of_week,type_of_car,number_of_car,mass_of_trash,size_of_trash,density,tmin,tmax,taverage,size
0,1,Январь,пятница,Бункеровоз,В297КЕ147,4300.0,48.00,89.583333,-28.0,-32.0,-30.0,3716.1600
1,1,Январь,пятница,Бункеровоз,К721ВС154,5180.0,40.00,129.500000,-28.0,-32.0,-30.0,3096.8000
2,1,Январь,пятница,Бункеровоз,Н726РУ154,5400.0,64.00,84.375000,-28.0,-32.0,-30.0,4954.8800
3,1,Январь,пятница,Бункеровоз,Н991НУ154,4960.0,48.00,103.333333,-28.0,-32.0,-30.0,3716.1600
4,1,Январь,пятница,Мультилифт,К801ВА154,3220.0,36.66,87.834152,-28.0,-32.0,-30.0,2838.2172
...,...,...,...,...,...,...,...,...,...,...,...,...
21384,31,Декабрь,пятница,Задняя,Н590ТТ154,23140.0,286.27,80.832780,-16.0,-26.0,-21.0,22163.0234
21385,31,Декабрь,пятница,Задняя,Н864ТТ154,10660.0,152.41,69.942917,-16.0,-26.0,-21.0,11799.5822
21387,31,Декабрь,пятница,Задняя,Т237ВВ750,15940.0,228.20,69.851008,-16.0,-26.0,-21.0,17667.2440
21388,31,Декабрь,пятница,Задняя,Т551РС69,26920.0,332.20,81.035521,-16.0,-26.0,-21.0,25718.9240
21389,31,Декабрь,пятница,Задняя,Т799РС69,7300.0,158.78,45.975564,-16.0,-26.0,-21.0,12292.7476

In [112]:
first = bd[bd['day'] <= 10][bd['day'] >= 6][bd['mounth'] == 'Март']
first
# second = bd[bd['day'] >= 1][bd['mounth'] == 'Март']
# pd.concat([second, first])

/var/folders/85/nvry22pd6nx6pfd1c1h6z_nr0000gp/T/ipykernel_9158/914752587.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  first = bd[bd['day'] <= 10][bd['day'] >= 6][bd['mounth'] == 'Март']
/var/folders/85/nvry22pd6nx6pfd1c1h6z_nr0000gp/T/ipykernel_9158/914752587.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  first = bd[bd['day'] <= 10][bd['day'] >= 6][bd['mounth'] == 'Март']

,day,mounth,day_of_week,type_of_car,number_of_car,mass_of_trash,size_of_trash,density,tmin,tmax,taverage,perehod_cherez_null,mass+size
3636,6,Март,суббота,Бункеровоз,В297КЕ147,3580.0,32.00,111.875000,-3.0,-6.0,-4.5,0,2451.5200
3637,6,Март,суббота,Бункеровоз,К721ВС154,4200.0,48.00,87.500000,-3.0,-6.0,-4.5,0,3677.2800
3639,6,Март,суббота,Бункеровоз,Н991НУ154,4960.0,40.00,124.000000,-3.0,-6.0,-4.5,0,3064.4000
3642,6,Март,суббота,Мультилифт,Н869МК154,5340.0,36.00,148.333333,-3.0,-6.0,-4.5,0,2757.9600
3644,6,Март,суббота,Самосвал,К693СА154,1260.0,17.00,74.117647,-3.0,-6.0,-4.5,0,1302.3700
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3901,10,Март,среда,Задняя,Н864ТТ154,14620.0,246.94,59.204665,-1.0,-16.0,-8.5,0,18918.0734
3902,10,Март,среда,Задняя,О369АР750,8500.0,184.82,45.990694,-1.0,-16.0,-8.5,0,14159.0602
3903,10,Март,среда,Задняя,Т237ВВ750,14300.0,192.04,74.463653,-1.0,-16.0,-8.5,0,14712.1844
3904,10,Март,среда,Задняя,Т535РС69,9000.0,154.76,58.154562,-1.0,-16.0,-8.5,0,11856.1636
3905,10,Март,среда,Задняя,Т551РС69,20960.0,316.80,66.161616,-1.0,-16.0,-8.5,0,24270.0480

In [146]:
bd

,day,mounth,day_of_week,type_of_car,number_of_car,mass_of_trash,size_of_trash,density,tmin,tmax,taverage
0,1,Январь,пятница,Бункеровоз,В297КЕ147,4300.0,48.00,89.583333,-28.0,-32.0,-30.0
1,1,Январь,пятница,Бункеровоз,К721ВС154,5180.0,40.00,129.500000,-28.0,-32.0,-30.0
2,1,Январь,пятница,Бункеровоз,Н726РУ154,5400.0,64.00,84.375000,-28.0,-32.0,-30.0
3,1,Январь,пятница,Бункеровоз,Н991НУ154,4960.0,48.00,103.333333,-28.0,-32.0,-30.0
4,1,Январь,пятница,Мультилифт,К801ВА154,3220.0,36.66,87.834152,-28.0,-32.0,-30.0
...,...,...,...,...,...,...,...,...,...,...,...
21384,31,Декабрь,пятница,Задняя,Н590ТТ154,23140.0,286.27,80.832780,-16.0,-26.0,-21.0
21385,31,Декабрь,пятница,Задняя,Н864ТТ154,10660.0,152.41,69.942917,-16.0,-26.0,-21.0
21387,31,Декабрь,пятница,Задняя,Т237ВВ750,15940.0,228.20,69.851008,-16.0,-26.0,-21.0
21388,31,Декабрь,пятница,Задняя,Т551РС69,26920.0,332.20,81.035521,-16.0,-26.0,-21.0
21389,31,Декабрь,пятница,Задняя,Т799РС69,7300.0,158.78,45.975564,-16.0,-26.0,-21.0

In [152]:
bd[bd['type_of_car'].isin(["Фусо", "Задняя", "Боковая"])]["density"].mean()

72.66059368897433

In [153]:
bd[bd['type_of_car'].isin(["Бункеровоз", "Мультлифт", "Самосвал", "Грузовая"])]["density"].mean()

139.0009231756849

In [156]:
bd['size'] = bd['size_of_trash'] * 77.48
bd

,day,mounth,day_of_week,type_of_car,number_of_car,mass_of_trash,size_of_trash,density,tmin,tmax,taverage,size
0,1,Январь,пятница,Бункеровоз,В297КЕ147,4300.0,48.00,89.583333,-28.0,-32.0,-30.0,3719.0400
1,1,Январь,пятница,Бункеровоз,К721ВС154,5180.0,40.00,129.500000,-28.0,-32.0,-30.0,3099.2000
2,1,Январь,пятница,Бункеровоз,Н726РУ154,5400.0,64.00,84.375000,-28.0,-32.0,-30.0,4958.7200
3,1,Январь,пятница,Бункеровоз,Н991НУ154,4960.0,48.00,103.333333,-28.0,-32.0,-30.0,3719.0400
4,1,Январь,пятница,Мультилифт,К801ВА154,3220.0,36.66,87.834152,-28.0,-32.0,-30.0,2840.4168
...,...,...,...,...,...,...,...,...,...,...,...,...
21384,31,Декабрь,пятница,Задняя,Н590ТТ154,23140.0,286.27,80.832780,-16.0,-26.0,-21.0,22180.1996
21385,31,Декабрь,пятница,Задняя,Н864ТТ154,10660.0,152.41,69.942917,-16.0,-26.0,-21.0,11808.7268
21387,31,Декабрь,пятница,Задняя,Т237ВВ750,15940.0,228.20,69.851008,-16.0,-26.0,-21.0,17680.9360
21388,31,Декабрь,пятница,Задняя,Т551РС69,26920.0,332.20,81.035521,-16.0,-26.0,-21.0,25738.8560
21389,31,Декабрь,пятница,Задняя,Т799РС69,7300.0,158.78,45.975564,-16.0,-26.0,-21.0,12302.2744

In [181]:
fu = bd.pivot_table(index='mounth', values=['mass_of_trash', 'size_of_trash'], aggfunc='sum', sort=False)

In [183]:
fu['density'] = fu['mass_of_trash'] / fu['size_of_trash']
fu

          mass_of_trash  size_of_trash    density
mounth
Январь       12695192.0      183915.96  69.027136
Февраль      10989042.0      166616.31  65.954179
Март         12583040.0      176758.84  71.187614
Апрель       14441800.0      179304.94  80.543235
Май          16471120.0      196956.12  83.628374
Июнь         15530401.0      207571.52  74.819518
Июль         14801168.0      193023.71  76.680569
Август       16803720.0      195605.24  85.906288
Сентябрь     16746419.0      190716.93  87.807721
Октябрь      16187987.0      193057.50  83.850599
Ноябрь       14263160.0      180762.27  78.905626
Декабрь      13058013.0      185312.88  70.464681

In [206]:
nazvanie = bd.pivot_table(index='type_of_car', columns='perehod_cherez_null', values=['mass_of_trash', 'size_of_trash'], aggfunc='sum', sort=False)
nazvanie

                    mass_of_trash             size_of_trash
perehod_cherez_null             0           1             0          1
type_of_car
Бункеровоз              7106701.0    799960.0      57990.50    6241.00
Мультилифт              4161040.0    381270.0      27324.15    2706.50
Самосвал               23456154.0   2374820.0     165851.30   16795.22
Грузовая                1791472.0    340440.0      13190.37    2338.83
Фусо                    2422520.0    241520.0      38707.87    3608.07
Боковая                 4527982.0    528280.0      56734.90    6306.14
Задняя                110486943.0  12275520.0    1595295.35  169839.91
КМУ                     3316300.0    360140.0      78453.20    8218.91

In [31]:
bd.head()

,day,mounth,day_of_week,type_of_car,number_of_car,mass_of_trash,size_of_trash,density,tmin,tmax,taverage
0,1,Январь,пятница,Бункеровоз,В297КЕ147,4300.0,48.00,89.583333,-28.0,-32.0,-30.0
1,1,Январь,пятница,Бункеровоз,К721ВС154,5180.0,40.00,129.500000,-28.0,-32.0,-30.0
2,1,Январь,пятница,Бункеровоз,Н726РУ154,5400.0,64.00,84.375000,-28.0,-32.0,-30.0
3,1,Январь,пятница,Бункеровоз,Н991НУ154,4960.0,48.00,103.333333,-28.0,-32.0,-30.0
4,1,Январь,пятница,Мультилифт,К801ВА154,3220.0,36.66,87.834152,-28.0,-32.0,-30.0

In [56]:
bd['mass_of_trash'].sum()/bd['size_of_trash'].sum()

77.41590304254244

In [23]:
bd[bd['mounth'] == 'Ноябрь'][bd['day'] == 3]['mass_of_trash'].sum()/bd[bd['mounth'] == 'Ноябрь'][bd['day'] == 3]['size_of_trash'].sum() - bd[bd['mounth'] == 'Ноябрь'][bd['day'] == 4]['mass_of_trash'].sum()/bd[bd['mounth'] == 'Ноябрь'][bd['day'] == 4]['size_of_trash'].sum()

/var/folders/85/nvry22pd6nx6pfd1c1h6z_nr0000gp/T/ipykernel_26740/4252560074.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bd[bd['mounth'] == 'Ноябрь'][bd['day'] == 3]['mass_of_trash'].sum()/bd[bd['mounth'] == 'Ноябрь'][bd['day'] == 3]['size_of_trash'].sum() - bd[bd['mounth'] == 'Ноябрь'][bd['day'] == 4]['mass_of_trash'].sum()/bd[bd['mounth'] == 'Ноябрь'][bd['day'] == 4]['size_of_trash'].sum()
/var/folders/85/nvry22pd6nx6pfd1c1h6z_nr0000gp/T/ipykernel_26740/4252560074.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bd[bd['mounth'] == 'Ноябрь'][bd['day'] == 3]['mass_of_trash'].sum()/bd[bd['mounth'] == 'Ноябрь'][bd['day'] == 3]['size_of_trash'].sum() - bd[bd['mounth'] == 'Ноябрь'][bd['day'] == 4]['mass_of_trash'].sum()/bd[bd['mounth'] == 'Ноябрь'][bd['day'] == 4]['size_of_trash'].sum()
/var/folders/85/nvry22pd6nx6pfd1c1h6z_nr0000gp/T/ipykernel_26740/4252560074.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bd[bd['mounth'] == 'Ноябрь'][bd['day'] == 3]['mass_of_trash'].sum()/bd[bd['mounth'] == 'Ноябрь'][bd['day'] == 3]['size_of_trash'].sum() - bd[bd['mounth'] == 'Ноябрь'][bd['day'] == 4]['mass_of_trash'].sum()/bd[bd['mounth'] == 'Ноябрь'][bd['day'] == 4]['size_of_trash'].sum()
/var/folders/85/nvry22pd6nx6pfd1c1h6z_nr0000gp/T/ipykernel_26740/4252560074.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bd[bd['mounth'] == 'Ноябрь'][bd['day'] == 3]['mass_of_trash'].sum()/bd[bd['mounth'] == 'Ноябрь'][bd['day'] == 3]['size_of_trash'].sum() - bd[bd['mounth'] == 'Ноябрь'][bd['day'] == 4]['mass_of_trash'].sum()/bd[bd['mounth'] == 'Ноябрь'][bd['day'] == 4]['size_of_trash'].sum()

8.555821747722106

In [6]:
bd[bd['type_of_car'].isin(['Фусо', 'Задняя', 'Боковая'])]['mass_of_trash'].sum()/bd[bd['type_of_car'].isin(['Фусо', 'Задняя', 'Боковая'])]['size_of_trash'].sum()

69.521421096139

In [7]:
bd[bd['type_of_car'].isin(['Бункеровоз', 'Мультилифт', 'Самосвал', 'Грузовая'])]['mass_of_trash'].sum()/bd[bd['type_of_car'].isin(['Бункеровоз', 'Мультилифт', 'Самосвал', 'Грузовая'])]['size_of_trash'].sum()

137.98923991441563