In [4]:
import pandas as pd
import numpy as np

In [7]:
bd = pd.read_csv('big_and_wth.xlsx - Sheet1.csv', index_col=0)

In [19]:
bd['mass_of_trash'] = bd['mass_of_trash'].str.replace(' ', '')
bd['mass_of_trash'] = bd['mass_of_trash'].str.replace('-', '0').astype(float)
bd

,number_of_day,mounth,day_of_week,type_of_car,car_number,mass_of_trash,size_of_trash,density,tmax,tmin
index,,,,,,,,,,
0,1,Январь,пятница,Бункеровоз,В297КЕ147,4300.0,48,"89,58333333",-28°,-32°
1,1,Январь,пятница,Бункеровоз,К721ВС154,5180.0,40,"129,5",-28°,-32°
2,1,Январь,пятница,Бункеровоз,Н726РУ154,5400.0,64,"84,375",-28°,-32°
3,1,Январь,пятница,Бункеровоз,Н991НУ154,4960.0,48,"103,3333333",-28°,-32°
4,1,Январь,пятница,Мультилифт,К801ВА154,3220.0,"36,66","87,83415166",-28°,-32°
...,...,...,...,...,...,...,...,...,...,...
19227,31,Декабрь,пятница,Задняя,Н864ТТ154,10660.0,"152,41","69,94291713",-16°,-26°
19228,31,Декабрь,пятница,Задняя,О369АР750,0.0,0,0,-16°,-26°
19229,31,Декабрь,пятница,Задняя,Т237ВВ750,15940.0,"228,2","69,85100789",-16°,-26°
19230,31,Декабрь,пятница,Задняя,Т551РС69,26920.0,"332,2","81,03552077",-16°,-26°
19231,31,Декабрь,пятница,Задняя,Т799РС69,7300.0,"158,78","45,97556367",-16°,-26°

In [11]:
bunkerovoz = bd.drop(bd[bd.type_of_car.isin(["Мультилифт", "ГАЗ", "Газон", "Грузовая", "Боковая", "Задняя", "КМУ", "перегруз, сортировка", "Самосвал", "Фусо"])].index)
bunkerovoz['mass_of_trash'] = bunkerovoz['mass_of_trash'].str.replace(' ', '').astype(float)
bunkerovoz

,number_of_day,mounth,day_of_week,type_of_car,car_number,mass_of_trash,size_of_trash,density,tmax,tmin
index,,,,,,,,,,
0,1,Январь,пятница,Бункеровоз,В297КЕ147,4300.0,48,"89,58333333",-28°,-32°
1,1,Январь,пятница,Бункеровоз,К721ВС154,5180.0,40,"129,5",-28°,-32°
2,1,Январь,пятница,Бункеровоз,Н726РУ154,5400.0,64,"84,375",-28°,-32°
3,1,Январь,пятница,Бункеровоз,Н991НУ154,4960.0,48,"103,3333333",-28°,-32°
58,2,Январь,суббота,Бункеровоз,В297КЕ147,2400.0,32,75,-27°,-33°
...,...,...,...,...,...,...,...,...,...,...
19111,30,Декабрь,четверг,Бункеровоз,Н991НУ154,4920.0,32,"153,75",-21°,-23°
19170,31,Декабрь,пятница,Бункеровоз,В297КЕ147,0.0,0,0,-16°,-26°
19171,31,Декабрь,пятница,Бункеровоз,К721ВС154,4420.0,56,"78,92857143",-16°,-26°
19172,31,Декабрь,пятница,Бункеровоз,Н726РУ154,5920.0,48,"123,3333333",-16°,-26°
19173,31,Декабрь,пятница,Бункеровоз,Н991НУ154,3940.0,40,"98,5",-16°,-26°

In [17]:
samosval = bd.drop(bd[bd.type_of_car.isin(["Мультилифт", "Грузовая", "Боковая", "Задняя", "КМУ", "перегруз, сортировка", "Бункеровоз", "Фусо"])].index)
samosval['mass_of_trash'] = samosval['mass_of_trash'].str.replace(' ', '').astype(float)
samosval

,number_of_day,mounth,day_of_week,type_of_car,car_number,mass_of_trash,size_of_trash,density,tmax,tmin
index,,,,,,,,,,
7,1,Январь,пятница,ГАЗ,В149НА,3180.0,24,"132,5",-28°,-32°
8,1,Январь,пятница,Самосвал,К693СА154,1980.0,17,"116,4705882",-28°,-32°
9,1,Январь,пятница,Самосвал,К722ВС154,1260.0,"42,9","29,37062937",-28°,-32°
10,1,Январь,пятница,Самосвал,К836ВС154,2680.0,22,"121,8181818",-28°,-32°
11,1,Январь,пятница,Самосвал,Н200НХ154,0.0,0,0,-28°,-32°
...,...,...,...,...,...,...,...,...,...,...
19186,31,Декабрь,пятница,Самосвал,Н585ТТ154,1060.0,11,"96,36363636",-16°,-26°
19187,31,Декабрь,пятница,Самосвал,Н587ТТ154,2160.0,33,"65,45454545",-16°,-26°
19188,31,Декабрь,пятница,Самосвал,Н589ТТ154,900.0,11,"81,81818182",-16°,-26°
19189,31,Декабрь,пятница,Самосвал,Н849ТТ154,4940.0,44,"112,2727273",-16°,-26°
19190,31,Декабрь,пятница,Самосвал,Н861ТТ154,2680.0,22,"121,8181818",-16°,-26°

In [15]:
multilift = bd.drop(bd[bd.type_of_car.isin(["Самосвал", "ГАЗ", "Газон", "Грузовая", "Боковая", "Задняя", "КМУ", "перегруз, сортировка", "Бункеровоз", "Фусо"])].index)
multilift['mass_of_trash'] = multilift['mass_of_trash'].str.replace(' ', '')
multilift['mass_of_trash'] = multilift['mass_of_trash'].str.replace('-', '0').astype(float)
multilift

,number_of_day,mounth,day_of_week,type_of_car,car_number,mass_of_trash,size_of_trash,density,tmax,tmin
index,,,,,,,,,,
4,1,Январь,пятница,Мультилифт,К801ВА154,3220.0,"36,66","87,83415166",-28°,-32°
5,1,Январь,пятница,Мультилифт,Н416НС154,0.0,0,0,-28°,-32°
6,1,Январь,пятница,Мультилифт,Н869МК154,3140.0,36,"87,22222222",-28°,-32°
62,2,Январь,суббота,Мультилифт,К801ВА154,2760.0,"35,16","78,49829352",-27°,-33°
63,2,Январь,суббота,Мультилифт,Н416НС154,0.0,0,0,-27°,-33°
...,...,...,...,...,...,...,...,...,...,...
19113,30,Декабрь,четверг,Мультилифт,Н416НС154,1500.0,27,"55,55555556",-21°,-23°
19114,30,Декабрь,четверг,Мультилифт,Н869МК154,3980.0,24,"165,8333333",-21°,-23°
19174,31,Декабрь,пятница,Мультилифт,К801ВА154,3720.0,24,155,-16°,-26°
19175,31,Декабрь,пятница,Мультилифт,Н416НС154,6800.0,24,"283,3333333",-16°,-26°
19176,31,Декабрь,пятница,Мультилифт,Н869МК154,2380.0,24,"99,16666667",-16°,-26°

In [16]:
GAZ = bd.drop(bd[bd.type_of_car.isin(["Самосвал", "Мультилифт", "Газон", "Грузовая", "Боковая", "Задняя", "КМУ", "перегруз, сортировка", "Бункеровоз", "Фусо"])].index)
GAZ['mass_of_trash'] = GAZ['mass_of_trash'].str.replace(' ', '')
GAZ['mass_of_trash'] = GAZ['mass_of_trash'].str.replace('-', '0').astype(float)
GAZ

,number_of_day,mounth,day_of_week,type_of_car,car_number,mass_of_trash,size_of_trash,density,tmax,tmin
index,,,,,,,,,,
7,1,Январь,пятница,ГАЗ,В149НА,3180.0,24,"132,5",-28°,-32°
65,2,Январь,суббота,ГАЗ,В149НА,0.0,0,0,-27°,-33°
123,3,Январь,воскресенье,ГАЗ,В149НА,1020.0,16,"63,75",-26°,-31°
181,4,Январь,понедельник,ГАЗ,В149НА,1280.0,16,80,-26°,-31°
239,5,Январь,вторник,ГАЗ,В149НА,1500.0,16,"93,75",-26°,-32°
...,...,...,...,...,...,...,...,...,...,...
8340,31,Май,понедельник,задняя,Н864ТТ154,27280.0,"326,9","83,45059651",+25°,+11°
8341,31,Май,понедельник,задняя,О369АР750,19860.0,"255,46","77,74211227",+25°,+11°
8342,31,Май,понедельник,задняя,О493КВ750,19120.0,"232,49","82,24009635",+25°,+11°
8343,31,Май,понедельник,задняя,Т237ВВ750,15940.0,"234,44","67,99181027",+25°,+11°
8344,31,Май,понедельник,задняя,Т551РС69,33700.0,"324,5","103,8520801",+25°,+11°

In [20]:
zad = bd.drop(bd[bd.type_of_car.isin(["Самосвал", "ГАЗ", "Газон", "Грузовая", "Боковая", "Мультилифт", "КМУ", "перегруз, сортировка", "Бункеровоз", "Фусо"])].index)
zad['mass_of_trash'] = zad['mass_of_trash'].str.replace(' ', '')
zad['mass_of_trash'] = zad['mass_of_trash'].str.replace('-', '0').astype(float)
zad

AttributeError: Can only use .str accessor with string values!