In [1]:
import pandas as pd
import numpy as np

In [11]:
bd = pd.read_csv('base_weather.xlsx - Sheet1.csv', index_col=0)

In [12]:
bd

,day,mounth,day_of_week,type_of_car,number_of_car,mass_of_trash,size_of_trash,density,tmax,tmin
index,,,,,,,,,,
0,1,Январь,пятница,Бункеровоз,В297КЕ147,4300,48,"89,58333333",-28°,-32°
1,1,Январь,пятница,Бункеровоз,К721ВС154,5180,40,"129,5",-28°,-32°
2,1,Январь,пятница,Бункеровоз,Н726РУ154,5400,64,"84,375",-28°,-32°
3,1,Январь,пятница,Бункеровоз,Н991НУ154,4960,48,"103,3333333",-28°,-32°
4,1,Январь,пятница,Мультилифт,К801ВА154,3220,"36,66","87,83415166",-28°,-32°
...,...,...,...,...,...,...,...,...,...,...
21057,31,Декабрь,пятница,Задняя,Н864ТТ154,10660,"152,41","69,94291713",-16°,-26°
21058,31,Декабрь,пятница,Задняя,О369АР750,0,0,0,-16°,-26°
21059,31,Декабрь,пятница,Задняя,Т237ВВ750,15940,"228,2","69,85100789",-16°,-26°
21060,31,Декабрь,пятница,Задняя,Т551РС69,26920,"332,2","81,03552077",-16°,-26°
21061,31,Декабрь,пятница,Задняя,Т799РС69,7300,"158,78","45,97556367",-16°,-26°

In [95]:
bd = bd[bd['size_of_trash'] != '0']
bd.head()

,day,mounth,day_of_week,type_of_car,number_of_car,mass_of_trash,size_of_trash,density,tmax,tmin,taverage
index,,,,,,,,,,,
0,1,Январь,пятница,Бункеровоз,В297КЕ147,4300.0,48.00,89.583333,-28.0,-32.0,-30.0
1,1,Январь,пятница,Бункеровоз,К721ВС154,5180.0,40.00,129.500000,-28.0,-32.0,-30.0
2,1,Январь,пятница,Бункеровоз,Н726РУ154,5400.0,64.00,84.375000,-28.0,-32.0,-30.0
3,1,Январь,пятница,Бункеровоз,Н991НУ154,4960.0,48.00,103.333333,-28.0,-32.0,-30.0
4,1,Январь,пятница,Мультилифт,К801ВА154,3220.0,36.66,87.834152,-28.0,-32.0,-30.0

In [16]:
bd = bd[bd['mass_of_trash'] != '-']
bd['mass_of_trash'] = bd['mass_of_trash'].str.replace(' ', '').astype(float)

In [96]:
bd[-15 < bd['taverage']][bd['taverage'] < 15]

/var/folders/85/nvry22pd6nx6pfd1c1h6z_nr0000gp/T/ipykernel_73109/2331445284.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bd[-15 < bd['taverage']][bd['taverage'] < 15]

,day,mounth,day_of_week,type_of_car,number_of_car,mass_of_trash,size_of_trash,density,tmax,tmin,taverage
index,,,,,,,,,,,
928,17,Январь,воскресенье,Бункеровоз,В297КЕ147,3360.0,40.00,84.000000,-8.0,-14.0,-11.0
929,17,Январь,воскресенье,Бункеровоз,К721ВС154,5420.0,40.00,135.500000,-8.0,-14.0,-11.0
930,17,Январь,воскресенье,Бункеровоз,Н726РУ154,8840.0,80.00,110.500000,-8.0,-14.0,-11.0
931,17,Январь,воскресенье,Бункеровоз,Н991НУ154,5380.0,48.00,112.083333,-8.0,-14.0,-11.0
932,17,Январь,воскресенье,Мультилифт,К801ВА154,2240.0,36.00,62.222222,-8.0,-14.0,-11.0
...,...,...,...,...,...,...,...,...,...,...,...
20933,29,Декабрь,среда,Задняя,Н864ТТ154,11520.0,291.85,39.472332,-7.0,-8.0,-7.5
20934,29,Декабрь,среда,Задняя,О369АР750,13220.0,214.28,61.694979,-7.0,-8.0,-7.5
20935,29,Декабрь,среда,Задняя,Т237ВВ750,14440.0,203.20,71.062992,-7.0,-8.0,-7.5
20936,29,Декабрь,среда,Задняя,Т551РС69,22540.0,321.31,70.150322,-7.0,-8.0,-7.5
20937,29,Декабрь,среда,Задняя,Т799РС69,9640.0,192.74,50.015565,-7.0,-8.0,-7.5

In [21]:
bd['density'] = bd['density'].str.replace(',', '.').astype(float)

In [22]:
bd['tmax'] = bd['tmax'].str.replace('°', '').astype(float)

In [23]:
bd['tmin'] = bd['tmin'].str.replace('°', '').astype(float)

In [25]:
p = np.percentile(bd['mass_of_trash'].dropna(), 99.9)
p

45361.28000000157

In [34]:
bd['type_of_car'] = bd['type_of_car'].str.replace('задняя', 'Задняя')
bd['type_of_car'] = bd['type_of_car'].str.replace('мультилифт', 'Мультиифт')
bd['type_of_car'] = bd['type_of_car'].str.replace('самосвал', 'Самосвал')
bd

,day,mounth,day_of_week,type_of_car,number_of_car,mass_of_trash,size_of_trash,density,tmax,tmin
index,,,,,,,,,,
0,1,Январь,пятница,Бункеровоз,В297КЕ147,4300.0,48.00,89.583333,-28.0,-32.0
1,1,Январь,пятница,Бункеровоз,К721ВС154,5180.0,40.00,129.500000,-28.0,-32.0
2,1,Январь,пятница,Бункеровоз,Н726РУ154,5400.0,64.00,84.375000,-28.0,-32.0
3,1,Январь,пятница,Бункеровоз,Н991НУ154,4960.0,48.00,103.333333,-28.0,-32.0
4,1,Январь,пятница,Мультилифт,К801ВА154,3220.0,36.66,87.834152,-28.0,-32.0
...,...,...,...,...,...,...,...,...,...,...
21056,31,Декабрь,пятница,Задняя,Н590ТТ154,23140.0,286.27,80.832780,-16.0,-26.0
21057,31,Декабрь,пятница,Задняя,Н864ТТ154,10660.0,152.41,69.942917,-16.0,-26.0
21059,31,Декабрь,пятница,Задняя,Т237ВВ750,15940.0,228.20,69.851008,-16.0,-26.0
21060,31,Декабрь,пятница,Задняя,Т551РС69,26920.0,332.20,81.035521,-16.0,-26.0
21061,31,Декабрь,пятница,Задняя,Т799РС69,7300.0,158.78,45.975564,-16.0,-26.0

In [35]:
bd[bd.type_of_car.isin(["Бункеровоз", "Самосвал", "Мультилифт"])][bd['mounth'] == 'Декабрь']
# bd[bd['mounth'] == 'Декабрь'].drop(bd[bd.type_of_car.isin()])
# bd[bd.type_of_car.isin(["Мультилифт", "ГАЗ", "Газон", "Грузовая", "Боковая", "Задняя", "КМУ", "перегруз, сортировка", "Самосвал", "Фусо"])].index)

/var/folders/85/nvry22pd6nx6pfd1c1h6z_nr0000gp/T/ipykernel_73109/3510586295.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bd[bd.type_of_car.isin(["Бункеровоз", "Самосвал", "Мультилифт"])][bd['mounth'] == 'Декабрь']

,day,mounth,day_of_week,type_of_car,number_of_car,mass_of_trash,size_of_trash,density,tmax,tmin
index,,,,,,,,,,
19140,1,Декабрь,среда,Бункеровоз,В297КЕ147,8360.0,40.0,209.000000,-9.0,-18.0
19141,1,Декабрь,среда,Бункеровоз,К721ВС154,6820.0,48.0,142.083333,-9.0,-18.0
19142,1,Декабрь,среда,Бункеровоз,Н726РУ154,6820.0,48.0,142.083333,-9.0,-18.0
19143,1,Декабрь,среда,Бункеровоз,Н991НУ154,6580.0,48.0,137.083333,-9.0,-18.0
19144,1,Декабрь,среда,Мультилифт,К801ВА154,1760.0,12.0,146.666667,-9.0,-18.0
...,...,...,...,...,...,...,...,...,...,...
21016,31,Декабрь,пятница,Самосвал,Н585ТТ154,1060.0,11.0,96.363636,-16.0,-26.0
21017,31,Декабрь,пятница,Самосвал,Н587ТТ154,2160.0,33.0,65.454545,-16.0,-26.0
21018,31,Декабрь,пятница,Самосвал,Н589ТТ154,900.0,11.0,81.818182,-16.0,-26.0
21019,31,Декабрь,пятница,Самосвал,Н849ТТ154,4940.0,44.0,112.272727,-16.0,-26.0
21020,31,Декабрь,пятница,Самосвал,Н861ТТ154,2680.0,22.0,121.818182,-16.0,-26.0

In [38]:
bd['taverage'] = (bd['tmax'] + bd['tmin']) / 2
bd.head()

,day,mounth,day_of_week,type_of_car,number_of_car,mass_of_trash,size_of_trash,density,tmax,tmin,taverage
index,,,,,,,,,,,
0,1,Январь,пятница,Бункеровоз,В297КЕ147,4300.0,48.00,89.583333,-28.0,-32.0,-30.0
1,1,Январь,пятница,Бункеровоз,К721ВС154,5180.0,40.00,129.500000,-28.0,-32.0,-30.0
2,1,Январь,пятница,Бункеровоз,Н726РУ154,5400.0,64.00,84.375000,-28.0,-32.0,-30.0
3,1,Январь,пятница,Бункеровоз,Н991НУ154,4960.0,48.00,103.333333,-28.0,-32.0,-30.0
4,1,Январь,пятница,Мультилифт,К801ВА154,3220.0,36.66,87.834152,-28.0,-32.0,-30.0

In [90]:
bd[bd['type_of_car'].isin(['Боковая', 'Задняя'])][0 > bd['tmin']][bd['tmax'] > 0]

/var/folders/85/nvry22pd6nx6pfd1c1h6z_nr0000gp/T/ipykernel_73109/685396309.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bd[bd['type_of_car'].isin(['Боковая', 'Задняя'])][0 > bd['tmin']][bd['tmax'] > 0]
/var/folders/85/nvry22pd6nx6pfd1c1h6z_nr0000gp/T/ipykernel_73109/685396309.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bd[bd['type_of_car'].isin(['Боковая', 'Задняя'])][0 > bd['tmin']][bd['tmax'] > 0]

,day,mounth,day_of_week,type_of_car,number_of_car,mass_of_trash,size_of_trash,density,tmax,tmin,taverage
index,,,,,,,,,,,
4857,3,Апрель,суббота,Боковая,В036АС147,2260.0,39.33,57.462497,1.0,-2.0,-0.5
4858,3,Апрель,суббота,Боковая,Н403МВ154,1840.0,42.58,43.212776,1.0,-2.0,-0.5
4859,3,Апрель,суббота,Боковая,Н405МВ154,4480.0,49.42,90.651558,1.0,-2.0,-0.5
4860,3,Апрель,суббота,Задняя,В222СО178,10900.0,205.89,52.940891,1.0,-2.0,-0.5
4861,3,Апрель,суббота,Задняя,К281ВС154,12280.0,241.77,50.792075,1.0,-2.0,-0.5
...,...,...,...,...,...,...,...,...,...,...,...
20623,24,Декабрь,пятница,Задняя,Н864ТТ154,10060.0,196.08,51.305590,1.0,-3.0,-1.0
20624,24,Декабрь,пятница,Задняя,О369АР750,13700.0,218.06,62.826745,1.0,-3.0,-1.0
20625,24,Декабрь,пятница,Задняя,Т237ВВ750,12840.0,233.78,54.923432,1.0,-3.0,-1.0
20626,24,Декабрь,пятница,Задняя,Т551РС69,22260.0,323.40,68.831169,1.0,-3.0,-1.0
20627,24,Декабрь,пятница,Задняя,Т799РС69,6280.0,154.11,40.750114,1.0,-3.0,-1.0

In [91]:
day_in_mounths = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
day_by_mounths = {"Январь": 0, "Февраль": 31, "Март": 59, "Апрель": 90, "Май": 120, "Июнь": 151, "Июль": 181, "Август": 212, "Сентябрь": 243, "Октябрь": 273, "Ноябрь": 304, "Декабрь": 334}
bd['num_of_day'] = day_by_mounths[bd['mounth']] + bd['day']
bd['num_of_day']

TypeError: unhashable type: 'Series'

In [92]:
bd.to_excel(r'C:\Users\Downloads\BMM.xlsx')

In [97]:
bd[-25 < bd['taverage']][bd['taverage'] < 25]

/var/folders/85/nvry22pd6nx6pfd1c1h6z_nr0000gp/T/ipykernel_73109/2791028643.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  bd[-25 < bd['taverage']][bd['taverage'] < 25]

,day,mounth,day_of_week,type_of_car,number_of_car,mass_of_trash,size_of_trash,density,tmax,tmin,taverage
index,,,,,,,,,,,
348,7,Январь,четверг,Бункеровоз,В297КЕ147,4500.0,48.00,93.750000,-21.0,-27.0,-24.0
349,7,Январь,четверг,Бункеровоз,К721ВС154,3320.0,40.00,83.000000,-21.0,-27.0,-24.0
350,7,Январь,четверг,Бункеровоз,Н726РУ154,6580.0,64.00,102.812500,-21.0,-27.0,-24.0
351,7,Январь,четверг,Бункеровоз,Н991НУ154,3220.0,40.00,80.500000,-21.0,-27.0,-24.0
352,7,Январь,четверг,Мультилифт,К801ВА154,2640.0,24.00,110.000000,-21.0,-27.0,-24.0
...,...,...,...,...,...,...,...,...,...,...,...
21056,31,Декабрь,пятница,Задняя,Н590ТТ154,23140.0,286.27,80.832780,-16.0,-26.0,-21.0
21057,31,Декабрь,пятница,Задняя,Н864ТТ154,10660.0,152.41,69.942917,-16.0,-26.0,-21.0
21059,31,Декабрь,пятница,Задняя,Т237ВВ750,15940.0,228.20,69.851008,-16.0,-26.0,-21.0
21060,31,Декабрь,пятница,Задняя,Т551РС69,26920.0,332.20,81.035521,-16.0,-26.0,-21.0
21061,31,Декабрь,пятница,Задняя,Т799РС69,7300.0,158.78,45.975564,-16.0,-26.0,-21.0